/*Phone style*/
@media (max-width: $MAX_WIDTH_MOBILE){
    .app-body[name="about"] {

        .part-top {
            margin-left: 32px;

            .title-component {
                .comp-shadow {
                    left: 0;
                }
            }
        }

        .section-list {
            gap: 120px;
        }

        .section-about-what {
            margin: 0 0 40px -28px;
            & > * {
                flex-direction: column;

                & > * {
                    // position: relative;
                }
            }

            .part-what-top {
                margin-bottom: 200px;

                .card-what {
                    padding: 32px 25px 15px 28px;
                    border-radius: 0px 12px 0px 0px;
                    border-top: 2px solid $color-white;
                    border-right: 2px solid $color-white;
                    border-bottom: 2px solid $color-white;
                    background: rgba($color-white, .5);
                }
            }

            .part-what-bottom {
                margin-bottom: 125px;
                margin-right: -28px;
                margin-left: 36px;

                .card-what {
                    padding: 32px 25px 15px 28px;
                    border-radius: 12px 0px 0px 12px;
                    border-top: 2px solid $color-white;
                    border-left: 2px solid $color-white;
                    background: rgba($color-white, .5);

                    .title-component {
                        margin-left: -48px;
                    }
                    .info-what {
                        margin-left: 0;
                        padding: 0;
                    }
                    
                }
            }
            
            .card-what-img {
                &.ic-img-about-1 {
                    width: 100%;
                    height: 200px;
                    right: -56px;
                    bottom: -240px;
                }

                &.ic-img-about-2 {
                    width: 214px;
                    height: 125px;
                    left: -56px;
                    top: unset;
                    bottom: -200px;
                }

                &.ic-img-about-3 {
                    width: 125px;
                    height: 125px;
                    left: 182px;
                    bottom: -200px;
                }
            }
        }

        .section-about-how {
            .part-how-top {
                margin-bottom: 56px;
            }

            .part-how-body {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .section-about-member {
            .part-member-top {
                justify-content: left;
            }
            .part-member-body {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .part-member-bottom {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24px;
                margin-top: 50px;
                
                .member-content {
                    width: 316px;
                    height: 143px;
                }
                .purpose-content {
                    width: 316px;
                }
            }
        }

        .section-about-bottom {
            .card-advance {
                flex-direction: column;
                gap: 48px;

                & > * {
                    gap: 0;
                }
            }
        }

    }
}