/*Phone style*/
@media (max-width: $MAX_WIDTH_MOBILE){
    .btn-ifare-start {
        height: 40px!important;
        padding: 0px 14px 0px 28px!important;

        .icon {
            width: 20px!important;
            height: 20px!important;
        }
    }
    
    .btn-reset {
        padding: 0px 8px;
        border-radius: 4px;
        background: rgba($color-white, 0.20);
    }
}