@media (max-width: $MAX_WIDTH_LAPTOP_S){
    .app-body {
      .app-body-child[name=ifare-result]{
        .section-filter {
            .card-filter{
                padding-left: 16px;
                .part-top {
                    gap: 8px;
                }
                .btn-tag-list{
                    gap: 4px;
                }
                .part-bottom{
                    gap: 20px;
                }
            }
        }
      }
    }
}
/*Phone style*/
@media (max-width: $MAX_WIDTH_MOBILE){
    
    .app-body {
        &[name=ifare], &[name=ifare-result] {
            .part-bg {
                .bg-ifare {
                    background-size: cover;
                }
            }
        }
        &[name=ifare] {
            .part-bg {
                .bg-ifare.ic-ifare-bg {
                    background-position: 91%;
                    background-size: 375%;
                }
            }
            .section-list {
                margin-top: 8px;
                gap: 64px;
            }
            
            .section-top {
                gap: 54px;

                .title-comp {
                    .ifare-title {
                        .ic-ifare-logo {
                            width: 101px;
                            height: 37px;
                        }
                    }
                    .ifare-subtitle {
                        span {
                            min-width: 217px;
                        }
                    }
                }

                .card-ifare-filter {
                    padding: 32px 28px 20px;
                }
            }

            .section-agency {
                .part-body {
                    padding: 0 12px;
                }

                .agency-list {
                    .agency-item {
                        padding: 0;
                        .item-page-link {
                            display: flex;
                            flex-direction: row;
                            padding: 16px 20px;
                            gap: 16px;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                        }

                        .link-url {
                            min-width: 20px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

            .part-pages {
                margin-top: 32px;
            }
        
            .card-ifare-filter {
                .btn-tag-list {
                    flex-wrap: wrap;
                    justify-content: left;
                }
            }
            
            .open-switch, .faq-logo {
                margin-top: 4px;
              }
            
        }
        &[name=ifare-result] {
            gap: 0;
            .bg-ifare, .bg-ifare::before {
                min-height: 216px!important;
            }
            .page-navs {
                padding-left: 4px;

                .nav-title {
                    margin: 16px 0 0;
                }
            }
            .app-body-child {
                margin-top: 52px;
            }
        }
        &[name=ifare-info] {
            .part-bg {
                .bg-ifare {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        .app-body-child {
            &[name=ifare-result] {
                gap: 20px;

                .section-list {
                    gap: 28px;
                }
        
                .section-filter {
                    &::after {
                        display: none;
                    }
                    
                    .card-filter {
                        display: none;
                        padding: 20px 20px 72px;
                        
                        .part-top, .part-bottom {
                            display: flex;
                            flex-direction: row;
                            justify-content: left;
                            gap: 40px;
                            flex-wrap: wrap;
                        }
    
                        .btn-tag-list {
                            flex-wrap: wrap;
                            justify-content: left;
                        }
                        .part-filter {
                            left: 20px;
                            right: unset;
                            bottom: 20px;
                        }
                    }

                    .card-filter-mobile {
                        display: flex;
                        margin: 0 -20px;
                        border-radius: 4px;
                        background: $color-white;
                        box-shadow: 0px 11px 30px -8px rgba($color-black, 0.12);
                        height: 40px;
                        padding-left: 10px;
                        align-items: center;
                        position: relative;
                        overflow: hidden;

                        .part-filter-btns {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            gap: 12px;
                            align-items: center;
                            justify-content: space-between;

                            .part-start, .part-end {
                                display: inline-flex;
                                flex-direction: row;
                                align-items: center;
                            }

                            .component-select {
                                border: none;

                                .comp-group {
                                    padding: 0;
                                    gap: 4px;
                                    .comp-placeholder, .comp-name {
                                        min-width: 36px;
                                        max-width: 72px;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                    }

                                    .ic-select-arrow {
                                        width: 14px;
                                        height: 14px;
                                    }
                                }
                            }
                            .part-start {
                                gap: 8px;
                            }

                            .part-end {
                                gap: 8px;
                                .else-mode {
                                    width: auto;
                                    .btn-advance {
                                        border-radius: 0;
                                        border: none;
                                        background: $color-white;
                                        padding: 0 12px;
                                    }
                                }
                                & > .btn-filter{
                                    height: 40px;
                                    width: 36px;
                                    padding: 0;
                                    border-radius: 0;
                                    justify-content: center;
                                }
                            }
                        }
                    }

                    .card-filter-reset {
                        display: inline-block;
                        position: absolute;
                        right: -20px;
                        top: -42px;
                        z-index: 150;
                    }
                }
        
                .section-result {
                    margin: 0 -28px 0;

                    .result-total {
                        padding: 16px 44px;
                    }

                    .result-list {
                        .result-item{
                            flex-wrap: wrap;
                            padding: 24px 24px 16px 44px;
    
                            & > a {
                                flex-wrap: wrap;
                                gap: 0;
                                
                                & > * {
                                    min-width: unset;
                                }
                            }

                            .result-title {
                                padding-right: 32px;
                            }
    
                            .result-filter {
                                padding-top: 20px;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 0;
                            }

                            .result-item-bottom {
                                gap: 8px;
                                align-items: end;
                            }

                            .result-filter-qualify {
                                @include textLineClamp(2);
                            }
                        }
                    }

                    .part-pages {
                        margin-top: 28px;
                        padding: 0 16px 0 44px;
                    }
                } 
            }

            &[name=ifare-info] {
                margin-top: 44px;

                .section-top {
                    gap: 28px;

                    .date-group {
                        gap: 12px;
                    }
                }

                .section-body {
                    margin: 0 -28px;
                    .card-info {
                        padding: 28px 24px;
                        border-radius: 16px 16px 0 0;
                    }

                    .part-info-list {
                        gap: 59px;

                        .part-office {
                            padding: 12px 22px 20px 0;
                            .bg-office {
                                left: 10px;
                                width: calc(100% - 20px);
                                padding: 0;
                                height: 100%;
                            }
                        }
                    }
                }

                .section-relation {
                    margin: 8px -28px 19px;

                    .relation-title {
                        padding: 12px 44px;
                    }

                    .relation-list {
                        .relation-item {
                            padding: 24px 24px 16px 44px;

                            .relation-item-bottom {
                                gap: 8px;

                                [name=qualify] {
                                    @include textLineClamp(2);
                                }
                            }
                        }
                    }
                }
            }

            &[name=ifare-contact] {
                .section-list {
                    gap: 36px;
                }
                .section-top {
                    flex-wrap: wrap;
                    gap: 0;

                    .date-group {
                        flex-direction: column;
                        padding-top: 0;
                        padding-left: 56px;
                    }
                }
        
                .section-body {
                    flex-direction: column;
                    gap: 48px;
                    padding: 0 32px;

                    .part-areas {
                        display: none;
                    }

                    .part-filter {
                        display: flex;
                    }
        
                    .detail-list {
                        margin: 0;
                    }
        
                    .detail-item {
        
                        .detail-name {
                            position: relative;
                            border-bottom: 1px solid rgba(23, 24, 24, 0.05);
                            padding: 24px 0;
        
                            &::after {
                                position: absolute;
                                right: 0;
                                bottom: 24px;
                            }
                        }
        
                        .detail-title {
                            display: none;
                        }
        
                        .content-item {
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: left;
                            padding: 28px 0 24px;
                            gap: 10px;
        
                            .tel-item {
                                justify-content: left;
                                margin-top: 10px;

                                .ic-tel {
                                    background: url("../img/Tel-orange.svg") $bg-init;
                                }
                            }
                        }
                    }

                    .area-list {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}