/*Phone style*/
@media (max-width: $MAX_WIDTH_MOBILE) {
  .page-component {
    display: inline-flex;
    flex-direction: row;
    gap: 10px;

    .page-content {
      display: inline-flex;
      position: relative;
      max-width: calc(100vw - 56px - 96px);
      min-width: calc(100vw - 56px - 96px);
    }

    .pages-list {
      li {
        margin: 2px 12px 2px 0;
      }
    }
  }

  // News
  .app-body .section-news .part-pages .page-component {

    .page-content {
      max-width: calc(100vw - 56px - 96px - 24px - 10px);
      min-width: calc(100vw - 56px - 96px - 24px - 10px);
    }
  }
}
