.slider-animate {
    .bg-img {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-animation: round 25s linear infinite;
        animation: round 25s linear infinite;

        &:nth-child(1) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }
        &:nth-child(2) {
            -webkit-animation-delay: 5s;
            animation-delay: 5s;
        }
        &:nth-child(3) {
            -webkit-animation-delay: 10s;
            animation-delay: 10s;
        }
        &:nth-child(4) {
            -webkit-animation-delay: 15s;
            animation-delay: 15s;
        }
        &:nth-child(5) {
            -webkit-animation-delay: 20s;
            animation-delay: 20s;
        }
    }
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@mixin animate-mDialog(){
    -webkit-animation: mDialog .15s ease-out 1;
    animation: mDialog .15s ease-out 1;
}
@-webkit-keyframes mDialog {
    0% {
        margin-bottom: -68dvh;
    }
    100% {
        margin-bottom: 0dvh;
    }
}
@keyframes mDialog {
    0% {
        margin-bottom: -68dvh;
    }
    100% {
        margin-bottom: 0dvh;
    }
}


