body {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans TC;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.app-header {
    font-family: Noto Sans TC;
}

.app-footer {
    font-family: Noto Sans TC;

    .footer-info-items {
        font-family: Noto Sans TC;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

        [name]::before{
            font-family: Noto Sans TC;
            color: rgba($color-white, .5);
        }
        [name="tel"]{
            font-family: Roboto;
            color: $color-white;
            text-decoration: none;
            &::before{
                content: '聯絡電話';
            }
        }
        [name="mail"]{
            &::before{
                content: '聯絡信箱';
            }
        }
        [name="address"]{
            &::before{
                content: '地址';
            }
        }
        [name="datetime"]{
            &::before{
                content: '服務時間';
            }
            span {
                &:nth-child(2), &:nth-child(3) {
                    font-family: Roboto;
                }
            }
        }
    }

    .link-track {
        font-family: Noto Sans TC;
        color: $color-white;

        span{
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}



//------ Page
// About
.app-body[name="about"] {
    .part-top {
        .title-component {
            .comp-title {
                font-size: 32px;
                line-height: 44px;
            }
            .comp-shadow {
                font-size: 54px;
                line-height: 36px;
            }
        }
    }
    .section-list {
        .comp-title {
            font-size: 32px;
            font-weight: 700;
            line-height: 44px;
        }
    }
    .info-what {
        font-family: Noto Sans TC;
    }

    .how-content {
        font-family: Noto Sans TC;
    }

    .member-info{
        font-family: Noto Sans TC;
    }

    .purpose-content {
        font-family: Noto Sans TC;
    }
}

// Articles
.section-welfare {
    .article-list {
        .article-item {
            .btn-tag {
            }
            .item-date {
                color: rgba($color-black, 0.5);
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
        
            .article-title {
                font-size: 22px;
                font-weight: 700;
                line-height: 34px;
                color: $color-black;
            }
        
            .tags-list li {
                font-size: 12px;
            }
            .item-info {
            color: rgba($color-black, 0.7);
            }
        }
    }
}
.section-lazy {
    .item-title {
        font-family: Noto Sans TC;
    }
}

// News/Info | Articles/welfare | Articles/lazy
.app-body-child{
    &[name="news-info"], &[name="articles-welfare"], &[name="articles-lazy"] {
        .btn-tag {
            font-size: 14px;
            line-height: 20px;
        }

        .article-title {
            font-family: Noto Serif TC;
            color: $color-black;
            font-size: 32px;
            font-weight: 700;
            line-height: 44px;
        }
        .article-date {
            font-family: Roboto;
            color: $color-black;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

// iFare
.app-body-child {
    // iFare/result
    &[name="ifare-result"]{
        .result-total {
            font-family: Roboto;
            &::before, &::after{
                font-family: Noto Sans TC;
            }
        }
        .result-title {
            font-family: Noto Sans TC;
        }
        .result-filter {
            font-family: Noto Sans TC;

            .result-filter-qualify {
                .remark {
                    color: $color-orange;
                }
            }
    
            & > *::before {
                font-family: Roboto;
            }
        }
    }

    // iFare/info
    &[name="ifare-info"]{
        .info-title {
            font-family: Noto Sans TC;
            color: $color-white;
            font-size: 32px;
            font-weight: 700;
            line-height: 44px;
        }
        .date-release, .date-update {
            font-family: Roboto;
            &::before {
                font-family: Noto Sans TC;
                color: rgba($color-white, 0.7);
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
        }
        .article-num {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgba($color-white, 0.7);
        }
        .date-group {
            color: $color-white;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
        .date-release {
            &::before {
                content: "發布日期：";
            }
        }
        .date-update {
            &::before {
                content: "修改日期：";
            }
        }

        .card-info {
            font-family: Noto Sans TC;
            .comp-title {
                font-family: Noto Sans TC;
            }

            .info-content {

            }
        }

        .section-relation {
            .relation-links {
                .relation-item {
                    .link-title {
                        color: $color-primary-dark;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 28px;
                    }

                    .remark {
                        color: $color-orange;
                    }
                }
            }
        }
    }

    // iFare/contact
    &[name="ifare-contact"] {
        .date-release, .date-update {
            font-family: Roboto;
            color: rgba($color-black, 0.7);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            &::before {
                font-family: Noto Sans TC;
                color: rgba($color-black, 0.5);
            }
        }
        .date-release {
            &::before {
              content: "發布日期：";
            }
          }
        .date-update {
            &::before {
                content: "修改日期：";
            }
        }

        .area-list {
            font-family: Noto Sans TC;
        }
        .detail-list {
            .detail-name {
                font-family: Noto Serif TC;
                color: $color-black;
                font-size: 28px;
                font-weight: 700;
                line-height: 40px;
            }
            .detail-title {
                font-family: Roboto;

                .title-name {
                    color: rgba($color-black, 0.5);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
            .detail-content {
                font-family: Roboto;
                .content-value {
                    font-family: Noto Sans TC;
                    color: $color-black;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
          
                    &[name="unit"] {
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 28px;
                    }
                    &[name="tel"] {
                    }
                    &[name="address"] {
                    }
                }
            }
        }
    }
}

//------ Component
// button
.btn, .item-page-link, .card-page-link {
    text-decoration: none;
}
.btn-ifare {
    font-family: Roboto;
}
.btn-ifare-start {
    font-family: Roboto;
    color: $color-white;

    & > span {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
    }

    .txt-end {
        font-family: Noto Sans TC;
    }
}
.btn-more {
    font-family: Noto Sans TC;
    color: $color-black;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.btn-tag {
    font-family: Noto Sans TC;
    color: rgba($color-black, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    &.active, &:hover {
        color: rgba($color-orange, 0.7);
    }
}
.btn-line {
    font-family: Noto Sans TC;

    span {
        color: $color-primary;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px; 
        white-space: nowrap;
    }
}
.btn-filter {
    font-family: Noto Sans TC;
}
.btn-search {

}
.btn-reset {
    color: $color-black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans TC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
}

// else
.index-title {
    font-family: Noto Serif TC;
    color: $color-white;
    font-weight: 700;
    line-height: 68px;
    text-shadow: 0px 11px 30px $color-black;

    &.main-title {
        font-size: 48px;
        letter-spacing: 2px;
    }

    &.sub-title {
        font-size: 24px;
        letter-spacing: 1px;
    }
}

.ifare-title, .ifare-subtitle {
    font-family: Noto Sans TC;
    color: $color-white;
}

.ifare-title {
    .mini-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}

.ifare-subtitle {
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
}

.txt-copyright {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: rgba($color-white, .5);
}

.title-component {
    font-family: Noto Serif TC;
    
    .comp-title {
        color: $color-black;
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
    }

    .comp-shadow {
        font-family: Noto Serif Display;
        color: rgba($color-black, .05);
        font-size: 54px;
        font-weight: 700;
        line-height: 36px;
        text-transform: uppercase;
        white-space: nowrap;
    }
}

.news-item, .article-item {
    .item-title {
        font-family: Noto Serif TC;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        color: $color-black;
        
        & > * {
            font-size: 22px;
            font-weight: 700;
            line-height: 34px;
        }
    }

    .item-date {
        font-family: Roboto;
        color: $color-orange;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    
    .item-body {
        font-family: Noto Sans TC;
        color: rgba($color-black, .7);
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
}

.card-article {
    .card-title {
        font-family: Noto Serif TC;
        color: $color-black;
        font-size: 22px;
        font-weight: 700;
        line-height: 34px;
    }
    .card-date {
        font-family: Roboto;
        color: $color-orange;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; 
    }
    .card-body {
        font-family: Noto Sans TC;

        .card-info {
            color: rgba($color-black, .7);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
        }
    }
}

.card-more {
    color: $color-white;
    .title-more {
        font-family: Noto Sans TC;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
    }
    .info-more {
        font-family: Noto Sans TC;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px; 
    }
}

.card-advance {
    font-family: Noto Sans TC;
}

.card-partner {
    .partner-title {
        font-family: Noto Sans TC;
        font-size: 22px;
        font-weight: 500;
        line-height: 34px;
    }

    .card-infos {
        li {
            font-family: Noto Sans TC;
            color: $color-black;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            word-wrap: break-word;
            &::before {
              font-family: Noto Sans TC;
              color: rgba($color-black, 0.7);
              font-size: 14px;
              line-height: 20px;
            }
            &[name="tel"], &[name="website"] {
              font-family: Roboto;
            }
            &[name="tel"] {
              &::before {
                content: "連絡電話";
              }
            }
            &[name="service"] {
              &::before {
                content: "服務項目";
              }
            }
            &[name="website"] {
              &::before {
                content: "官方網站";
              }
              a {
                color: $color-black;
              }
            }
        }
    }
}

.card-ifare-filter {
    .filter-name {
        font-family: Noto Sans TC;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        color: $color-black;
        // &::before {
        //     content: '*';
        //     font-family: Roboto;
        //     color: $color-pink;
        //     font-size: 20px;
        //     font-weight: 500;
        //     line-height: normal;
        // }
        &::after {
            content: '(必填)';
            font-family: Noto Sans TC;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; 
            color: $color-pink;
        }
    }
}

.page-component {
    &.num-mode {
        .page-nums {
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: rgba($color-black, .5);
            
            .page-current {
                color: $color-black;
            }
        }
    }
}

.page-content {
    &::after {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $color-black;
    }
}

.pages-list {
    font-family: Roboto;
    li {
        color: rgba($color-black, .3);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        &.active, &:hover{
            color: $color-black;
        }
    }
}

.page-navs {
    font-family: Noto Sans TC;
    li {
        font-size: 12px;
        line-height: 20px;
    
        &::after {
          content: "/";
        }
    
        a {
          text-decoration: none;
          color: rgba($color-black, .7);
        }
    }

    &[name="ifare-info"], &[name="ifare-result"] {
        a {
          color: rgba($color-white, .7);
        }
    }
}

.tags-list {
    font-family: Noto Sans TC;

    li {
        color: rgba($color-black, 0.7);
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        &::before {
            content: "#";
        }
    }
}

.article-num {
    font-family: Roboto;
    color: rgba($color-black, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    &::before{
        font-family: Noto Sans TC;
        content: '編號：';
    }
}

.agency-list {
    font-family: Noto Sans TC;
    .agency-item {
        .agency-name {
            color: $color-black;
            font-size: 20px;
            font-weight: 500;
            line-height: 32px;
        }
    }
}

.faq-list {
    font-family: Noto Sans TC;
    .faq-item {
        .faq-comp {
            .faq-title {
                font-size: 20px;
                font-weight: 500;
                line-height: 32px;
                color: $color-black;
                @extend .transition-general;
            }
        }
        &.active, &:hover{
            .faq-title {
              color: $color-primary-dark;
            }
        }

        .faq-info {
            color: $color-primary-dark;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
    }
}

.component-select {
    font-family: Noto Sans TC;
    .comp-placeholder, .comp-name {
        font-size: 16px;
        font-weight: 400;
        line-height: 34px;
    }

    .comp-name {
        color: $color-black;
    }

    .comp-placeholder {
        color: rgba($color-black, 0.30);
    }

    .select-content {

        .select-list {

            .select-item {
                color: $color-black;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px; 

                &.active {
                    color: $color-orange;
                    font-weight: 500;
                }
            }
        }
    }
}

.relation-links {
    .relation-title {
        font-family: Noto Sans TC;
        color: $color-black;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
    }
    .relation-list {
        .relation-item {
            .link-date {
                font-family: Roboto;
                color: rgba($color-black, 0.5);
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
            .link-title {
                font-family: Noto Sans TC;
                color: $color-black;
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }
    
    .filter-list {
        font-family: Noto Sans TC;
        & > * {
            &::before {
                font-family: Roboto;
            }
        }
    }
}

.article-list, .card-article-list, .result-list {
    &:empty {
        &:after {
            font-family: Noto Sans TC;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            color: rgba($color-black, 0.50);
        }
    }
}