body {
  &.overflow-disabled {
    overflow: hidden;

    &.select-mode {
      overflow: auto;
    }
  }


  &.select-mode {
    .card-ifare-filter .item{
      z-index: unset!important;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.list-unstyled {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.no-userselect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-sekect: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    outline: none!important;
  }
}

.page-navs {
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  li {
    &::after {
      padding-left: 8px;
    }
  }
}

.tags-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.article-tags {
  display: flex;
  gap: 16px;
  align-items: baseline;
  .tags-list {
    display: inline-flex;
  }
}

.article-info {
  position: relative;
  display: flex;
  border-radius: 16px;
  background: rgba($color-white, 0.7);
  padding: 48px;

  .raw-html {
    background: rgba($color-white, 0);
  }

  .btn-ic-share {
    position: absolute;
    right: 52px;
    top: -22px;
  }
}

.link-url {
    display: inline-block;
    min-width: 24px;
    width: 24px;
    height: 24px;
  }

.relation-links {
  .relation-title {
    margin: 0;
    padding: 28px 56px;
  }

  .relation-list {
    .relation-item {
      padding: 20px 8px 20px 56px;
      border-bottom: 1px solid rgba($color-black, 0.05);

      &:hover {
        background: rgba($color-white, .5);
        .ic-arrow-right{
          @extend .ic-arrow-right-orange;
        }
      }

      &:first-child {
        border-top: 1px solid rgba($color-black, 0.05);
      }

      .part-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .link-title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0;
      }

      .relation-item-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
      }
    }
  }
}

.title-component {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 20px;

  .ic-title-pattern {
    display: inline-block;
    width: 40px;
    height: 102px;
  }
  .comp-title {
    margin: 0;
  }
  .comp-shadow {
    position: absolute;
    top: 0;
    left: 64px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.raw-html {
  
  &, *{
    font-family: Noto Sans TC!important;
    font-size: 18px!important;
  }

  table {
    td, th {
      border: 1pt rgba($color-black, 0.1) solid !important;
    }
  }

  img {
    width: 100%!important;
    height: auto!important;
  }

  p, .f-content * {
    font-size: 18px!important;
    font-weight: 400;
    line-height: 38px;
  }

  h1, .f-h1 * {
    font-size: 22px!important;
    font-weight: 700;
    line-height: 34px;
  }
  h2, .f-h2 * {
    font-size: 20px!important;
    font-weight: 500;
    line-height: 32px;
  }
  h3, .f-h3 * {
    font-size: 18px!important;
    font-weight: 500;
    line-height: 28px;
  }
}
