@mixin transitionGeneral($sec){
    transition: all $sec ease-out;
}

@mixin transitionGeneralWithDelay($sec, $delay){
    transition: all $sec ease-out $delay;
}

@mixin textLineClamp($clampNum){
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $clampNum;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}