body {
    font-family:  "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-style: normal;
    user-select: none;
}

.el-breadcrumb__item{
    .el-breadcrumb__inner{
        color: var(--el-text-color-secondary);
    }

    &:last-child{
        .el-breadcrumb__inner{
            color: var(--el-text-color-primary);
            cursor: default!important;
        }
    }
}

.section-header, .section-main-header, .section-main {
  min-width: 600px;
}

.section-header, .section-main-header {
  display: flex;
  justify-content: space-between;

  .section-part {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }

  .part-left {
    justify-content: left;
  }
  .part-right {
    justify-content: right;
  }
}

.section-aside {
  z-index: $zindex-section-aside;
}

.section-header {
  z-index: $zindex-section-header;
}

.section-main {
  z-index: $zindex-section-main;
}

/* sub-title */
.sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01px;
  color: #606266;
  bottom: 0;
  &::before {
    color: #606266;
  }
}

.sub-createDate{
  padding-left: 32px;
  &::before{
    content: '建立日期：';
  }
}

.sub-number {
  padding-left: 32px;
  &::before{
    content: '編號：';
  }
}

.m-tag {
  border-color: #D9ECFF;
  background: #ECF5FF;
}