.section-main-card, .section-main-btn {
  margin-bottom: 16px;
}
.section-main-card {
  background-color: #ffffff;
  border-radius: 4px;

  &:last-child {
    margin-bottom: 0;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    padding: 26px 28px;
    gap: 8px;

    &.column-wrap {
      flex: 1;
      flex-direction: row;
      .item-group-list {
        display: inline-flex;
        flex-direction: column;
        gap: 32px;
      }
    }

    &.raw-html {
      gap: 0;
    }

    .raw-html {
      margin: 0 40px
    }
  }

  &.card-table {
    background-color: transparent;
  }

  .item-group-list {
    display: flex;
    flex: 1;

    .item-group {
        display: inline-flex;
    }
  }

  .item-group {
    display: flex;
    align-items: center;
    gap: 32px;
    // max-width: 240px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    .item-title,
    .item-value {
      display: inline-flex;
    }

    .item-title {
      justify-content: flex-end;
      max-width: 100px;
      min-width: 100px;
    }

    .p-input, .p-select {
      max-width: 60%;
      width: 100%;

      &.full-width {
        max-width: 100%;
      }
    }

    &.full-width {
      width: 100%;
    }

    &.html-editor {
      align-items: flex-start;

      &.full-width {
        .tox-tinymce{
          width: 100%;
        }
      } 
    }
  }

  .required {
    &::before {
      content: "*";
      color: red;
      padding-right: 8px;
      font-size: 16px;
      position: relative;
      top: 4px;
    }
  }
}

.card-fullsize {
  width: 100%;
}

.card-search {
  .card-info {
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .param-group {
    display: inline-flex;
    flex-direction: column;
    // flex: 1 1 20%;
    width: auto;

    .group-title {
      padding: 0 0 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #303133;
    }
  }

  .btn-search {
    margin-left: auto;
  }

  // .m-datepicker-range {
  //   // width: 300px;
  // }
}

.card-personal, .card-input-format {
  padding: 16px 0px;

  .card-info {
    gap: 48px;
  }

  .item-group {
    display: flex;
    align-items: center;
    gap: 32px;
    // max-width: 240px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    &.textarea, &.upload-drag {
      align-items: flex-start;
    }

    .personal-title,
    .personal-value,
    .input-title,
    .input-value {
      display: inline-flex;
    }

    .input-value {
      margin: 0;
      &.tag-list {
        gap: 8px;
      }
      &.full-width {
        width: 100%;
      }
    }

    .personal-title, .input-title {
      justify-content: flex-end;
      max-width: 100px;
      min-width: 100px;
    }

    .card-upload {
      width: 100%;
      margin-left: 0;
    }

  }

  .item-group-list {
    &.divider{
      position: relative;
      margin-bottom: 16px;
  
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -20px;
        left: 40px;
        width: calc(100% - 80px);
        height: 1px;
        background-color: #E4E7ED;
      }
    }
  }

  &[name="edit-mode"],
  &[name="add-mode"],
  &[name="change-pwd-mode"] {
    .p-input, .c-input-format {
      max-width: 40%;
    }
  }

  .card-upload {
    &.show-only {
      .el-upload {
        display: none;
      }

      .el-upload-list {
        margin-top: 0;
      }
    }
  }
}

.card-articles-lazy {
  .card-info {
    gap: 28px;
  }
  .card-item-title, .card-upload {
    margin-left: 40px;
  }
}

.card-ifare-officeunit {
  &[name="addEdit-mode"] {
    .card-info {
      position: relative;

      .section-delete{
        position: absolute;
        top: 0;
        right: 8px;
      }

      .item-group-list {
        .p-select, .p-input {
          min-width: 240px;
        }
      }

      .btn-add-del {
        margin-left: 16px;
      }
    }
  }
}

.card-ifare-qa {
  .item-group {
    align-items: flex-start;
  }
  .pre-line {
    white-space: pre-line;
    line-height: 1.5;
  }
}


.section-card-analysis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;

  .section-row {
    width: 100%;
    display: flex;
    gap: 16px;
  }
}
.card-analysis {
  margin: 0;

  .item-title {
    justify-content: flex-start;
    font-size: 20px;
    margin: 0;
  }

  .item-chart {
    width: 100%;
    display: block;
  }

  &.data-ttl {
    max-width: 400px;
    min-width: 300px;
    width: 100%;

    .card-info {
      gap: 48px;
    }

    .item-group {
      position: relative;
      flex-direction: column;
      gap: 24px;

      &:nth-child(n+2) {
        &::before {
          display: block;
          content: '';
          width: 100%;
          height: 1px;
          background-color: $color-border-light;
          position: absolute;
          top: -24px;
        }
      }
      
      .item-info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: baseline;

        .item-title {
          justify-content: flex-start;
          font-size: 20px;
          margin: 0;
        }

        .item-date {
          color: $color-text-placeholder;
          font-size: 14px;
          &::before{
            display: inline-block;
            padding-right: 8px;
          }

          &.ttl-today::before{
            content: '今日日期:';
          }
          &.ttl-all::before{
            content: '起始日期:';
          }
        }

        .ttl-people, .ttl-visits {
          font-size: 16px;
        }

        .ttl-num {
          &::after {
            display: inline-block;
            padding-left: 8px;
            font-size: 16px;
          }
          &.ttl-today {
            font-size: 28px;
            
            &.ttl-people {
              color: #E5006E;
            }
            &.ttl-visits {
              color: #409EFF;
            }
          }
          &.ttl-all {
            font-size: 20px;
          }
          &.ttl-people {
            &::after {
              content: '人';
            }
          }
          &.ttl-visits {
            &::after {
              content: '次';
            }
          }
        }
      }
    }
  }

  &.data-year {
    // width: calc(100% - 16px - 400px);
    width: 100%;
    min-width: 550px;

    .item-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;

      .item-date{
        &::before {
          display: inline-block;
          content: '年份';
          padding-right: 16px;
        }
      }
    }
  }

  &.data-search {
    min-width: 800px;
    .item-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;

      .item-date {
        &::before {
          display: inline-block;
          content: '日期範圍';
          padding-right: 16px;
        }
        .group-title {
          padding-right: 16px;
        }
      }
    }
  }
}

.card-ifare-policy {
  .card-info {
    .raw-html {
      margin: 0;
    }
    .info-item {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
      margin: 0 48px;
      gap: 36px;

      &::before {
        display: inline-flex;
        justify-content: flex-end;
        min-width: 100px;
      }

      &.info-title {
        margin: 0 40px;
      }

      .raw-html {
        margin-top: -1rem;
      }

      .info-content {
        &.info-pre-line {
          white-space: pre-line;
          line-height: 1.5;
        }
      }

      &.info-qual::before {
        content: '申請資格';
      }
      &.info-welfare::before {
        content: '福利內容';
      }
      &.info-evidence::before {
        content: '應備證件資料';
      }
      &.info-officeunit::before {
        content: '洽辦單位';
      }
    }
  }
}