$color-background-login-1: #409EFF;
$color-background-login-2: #0068D2;

$color-text-placeholder: #A8ABB2;

$color-border-light: #E4E7ED;

$padding-LR-header: 56px;
$height-main-header: 80px;

$zindex-section-aside: 101;
$zindex-section-header: 100;
$zindex-section-main: 99;