.app-body {
  min-height: calc(100vh - 436px);
  max-width: 800px;
  margin: 44px auto 160px;

  &[name=collaborator]{
    max-width: 894px;
  }
}

.app-body {
  display: flex;
  flex-direction: column;
  gap: 28px;

  .part-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .title-component {
      margin-left: -60px;
    }
  }

  .part-filter {
    display: inline-flex;
    gap: 28px;
  }

  .part-pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
  }

  .section-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 160px;

    .part-body {
      position: relative;
      z-index: 60;
    }
  }

  .bg-section-list {
    &::before {
      content: '';
      display: block;
      width: 2px;
      height: 200%;
      background-color: $color-orange;
      opacity: .2;
      position: absolute;
      top: -300px;
      left: -160px;
      z-index: 49;
    }

    .bg-section {
      position: relative;
      &:nth-child(n+2) {
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: calc(100vw + 17px);
          height: 2px;
          background-color: $color-orange;
          opacity: .2;
          top: -79px;
          left: calc((-100vw + 800px) / 2);
          z-index: 49;
        }
      }
    }

    .bg-radial {
      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        width: 880px;
        height: 880px;
        border-radius: 880px;
        background: radial-gradient(50% 50% at 50% 50%, rgba($color-orange, 0.20) 0%, rgba($color-orange, 0.00) 100%);
        z-index: 48;
      }
      &::before {
        top: -440px;
        bottom: unset;
        right: unset;
        left: calc((-100vw + 800px) / 2 - 440px);
      }
      &::after {
        top: unset;
        bottom: -440px;
        right: calc((-100vw + 800px) / 2 - 440px);
        left: unset;
      }
    }

    &.bg-index {
      &::before {
        top: 690px;
      }
      .bg-section {
        &:nth-child(2) {
          &::before {
            display: none;
          }
        }

        &:nth-child(n+3)::before {
          top: -39px;
          left: calc((-100vw + $MAX_WIDTH_APPBODY_INDEX) / 2);
        }
      }
    }
  }

  .news-list {
    min-height: 431px;
  }

  .article-list, .news-list {
    &:empty {
      display: flex;
      flex-direction: row!important;
      justify-content: center;
      align-items: center;
      gap: 10px;
      height: 146px;
      padding: 32px;
      border-radius: 8px;
      background: rgba($color-white, 0.70);

      &::before {
        display: inline-block;
        content: '';
        width: 24px;
        height: 24px;
        @extend .ic-search-gray;
      }

      &::after {
        display: inline-block;
        content: '目前沒有相關資料哦！';
      }
    }
  }

  .section-welfare {
    .btn-tag {
      height: 28px;
      padding: 0 8px;
    }

    .link-url {
      width: 40px;
    }

    .article-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .article-item {
        padding: 16px 28px;
        border-radius: 8px;
        border: 0px solid rgba($color-black, 0.1);
        background: rgba($color-white, 0.7);
        box-shadow: 0px 11px 30px -8px rgba($color-black, 0.12);

        &:hover {
          background: rgba($color-white, 1);
          .ic-arrow-right {
            @extend .ic-arrow-right-orange;
          }
        }

        .item-page-link {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }

        .item-top {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .item-title {
          display: flex;
          flex-direction: column;
          gap: 4px;
        }

        .item-body {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 40px;
        }
      }
    }
  }

  .section-lazy {
    .article-list {
      .article-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba($color-black, 0.1);
        padding: 16px 28px 16px 8px;

        &:hover {
          background: rgba($color-white, .5);
          .ic-arrow-right{
            @extend .ic-arrow-right-orange;
          }
        }

        .item-page-link {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }
      }
    }

    .article-item {
      .item-info {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
      }

      .item-link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      .item-title {
        margin: 0;
      }

      .item-pattern {
        display: inline-block;
        width: 24px;
        height: 24px;
      }
      .item-content {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        column-gap: 16px;
        & > * {
          &.item-title {
            display: inline-block;
          }
          &.tag-list {
            display: inline-flex;
          }
        }
      }
    }
  }

  .section-news {
    // .item-date {
    //   color: $color-orange;
    //   font-size: 16px;
    //   font-weight: 400;
    //   line-height: 24px;
    // }

    .item-title {
      display: flex;
      flex-direction: column;
      gap: 6px;  // UAT Edit.
      // gap: 20px;
    }

    // .news-title, .article-title {
    //   color: $color-black;
    //   font-size: 22px;
    //   font-weight: 700;
    //   line-height: 34px;
    // }

    .news-list, .article-list {
      display: flex;
      flex-direction: column;
      .news-item, .article-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 19px 28px;
        border-bottom: 1px solid rgba($color-black, 0.1);
        background: rgba($color-white, 0);

        &:hover {
          background: rgba($color-white, .5);
          .ic-arrow-right{
            @extend .ic-arrow-right-orange;
          }
        }

        a {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          // gap: 20px;
          gap: 6px;  // UAT Edit.
        }

        .item-top {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .item-body {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 40px;

          .item-info {
            color: rgba($color-black, 0.7);
          }
        }
      }
    }
  }

  .section-collaborator {
    .card-list {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }

    .card-partner {
      position: relative;
      display: inline-block;
      width: calc(50% - 16px);
      max-width: calc(50% - 72px);
      border-radius: 8px;
      border: 0px solid rgba($color-black, 0.1);
      background: rgba($color-white, 0.7);
      box-shadow: 0px 11px 30px -8px rgba($color-black, 0.12);
      padding: 16px 28px;

      &:hover {
        background: rgba($color-white, 1);
      }

      $sectorPartner-width: 147px;
      $sectorPartner-height: 181px;
      $sectorPartner-fill-border-width: 40px;
      $sectorPartner-fill-width: $sectorPartner-width - $sectorPartner-fill-border-width;
      $sectorPartner-fill-height: $sectorPartner-height - $sectorPartner-fill-border-width;
      $sectorPartner-lines-border-width: 2px;
      $sectorPartner-lines-width: $sectorPartner-width - $sectorPartner-lines-border-width;
      $sectorPartner-lines-height: $sectorPartner-height - $sectorPartner-lines-border-width;

      &::after {
        content: '';
        display: block;
        width: $sectorPartner-fill-width;
        height: $sectorPartner-fill-height;
        position: absolute;
        right: 0;
        bottom: 0;
        border-top-left-radius: 100%;
        border-top-width: $sectorPartner-fill-border-width;
        border-left-width: $sectorPartner-fill-border-width;
        border-right-width: 0;
        border-bottom-width: 0;
        border-style: solid;
        border-color: rgba($color-orange, .05);
        background-color: rgba($color-white, 0);
      }

      .card-title, .card-infos {
        position: relative;
        z-index: 60;
      }

      .card-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
      }
      
      .partner-title {
        margin: 0;
      }

      .card-infos {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 10px;
        padding-left: 80px;

        li {
          display: flex;
          a {
            word-break: break-all;
          }
          &::before {
            margin-right: 24px;
            min-width: 56px;
          }
        }
      }
    }
  }

  .bg-sector-top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 276.869px;
      height: 276.869px;
      border-bottom-left-radius: 100%;
      border-top-width: 0;
      border-left-width: 80px;
      border-right-width: 0;
      border-bottom-width: 80px;
      border-style: solid;
      border-color: rgba($color-orange, .05);
      background-color: rgba($color-white, 0);
      z-index: 48;
    }
    &::before {
      top: 0;
      bottom: unset;
      right: 0;
      left: unset;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 880px;
      height: 880px;
      border-radius: 880px;
      background: radial-gradient(50% 50% at 50% 50%, rgba($color-orange, 0.20) 0%, rgba($color-orange, 0.00) 100%);
      z-index: 48;
    }
    &::after {
      top: 440px;
      bottom: unset;
      right: unset;
      left: -440px;
    }
  }
}

