.app-body {
    .app-body-child {
        display: flex;
        flex-direction: column;
        gap: 28px;
    
        .section-top {
          display: flex;
          flex-direction: column;
          gap: 28px;
        }
    
        .article-info {
          min-height: 50vh;
    
          .raw-html {
            min-height: 50vh;
            width: 100%;
            overflow: auto;
          }
        }
    
        &[name="articles-welfare"] {
          .btn-tag {
            min-width: 56px;
            height: 28px;
            padding: 0 8px;
          }
        }
      }
}

