$color-primary: #00ADB2;
$color-primary-dark: #007D81;
$color-pink: #E5006E;
$color-orange: #EA5504;
$color-black: #171818;
$color-white: #FFFFFF;
$color-solid-500: #8B8B8B;
$color-solid-200: #D1D1D1;
$color-solid-50: #F3F3F3;
$color-shadow: #1C1B1F;
$color-bg-ifare: #1A6466;
$color-bg-mask: #002728;
$color-bg-mask-index: #231815;
$color-header: #fff4ef;