.app-footer{
    position: relative;
    color: $color-white;
    background: $color-primary-dark;
    z-index: 50;

    .btn-line {
        display: inline-flex;
        height: 40px;
        padding: 0px 24px 0px 12px;
        align-items: center;
        border: 0;
        border-radius: 4px;
        background: $color-white;
        box-shadow: 0px 11px 30px -8px rgba($color-black, 0.50);

        .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 16px;
        }
    }

    .row {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 40px;

        .card-more{
            position: relative;
            top: -8px;
            display: inline-flex;
            align-items: center;
            border-radius: 8px;
            padding: 60px 58px;
            gap: 40px;
            border: 2px solid rgba($color-white, .2);
            background: rgba($color-primary, 0.50);
            box-shadow: 0px 11px 30px -8px rgba($color-primary, 0.20);
            backdrop-filter: blur(20px);
            width: fit-content;
            margin: -28px auto 0;
            z-index: 60;
        }
        
        .app-icon{
            width: 232px;
            height: 42px;
        }

        .footer-info-items{
            display: flex;
            flex-direction: column;
            gap: 25px;
            
            & > * {
                display: flex;
                & > * {
                    justify-content: left;
                }
            }
            [name]::before{
                width: 72px;
                text-align: right;
                padding-right: 16px;
            }
            [name="datetime"]{
                & > span {
                    padding-right: 8px;
                }
            }
        }

        .part{
            display: inline-flex;
            justify-content: center;
            margin: 0 auto;
        }

        .part-info{
            gap: 93px;
        }

        .part-bottom {
            width: 100%;
            border-top: 1px solid rgba($color-white, .3);
        }

        .link-track {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            text-decoration: none;
            &::before{
                content: '';
                display: inline-block;
                height: 24px;
                width: 24px;
            }
        }

        .txt-copyright{
            margin: 20px 0;
        }
    }
}