.pages-list {
  display: inline-flex;
  flex-direction: row;
  gap: 12px;
  li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid rgba($color-black, 0.3);
    cursor: pointer;

    &.active {
      border: 1px solid $color-black;
    }
  }
}

.page-control {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.page-component {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;

  .page-content {
    display: inline-flex;
    position: relative;
    max-width: calc(100% - 96px);
    min-width: calc(100% - 96px);
  }

  .pages-list {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    li {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      padding: 5px;
      margin: 6px 12px 6px 0;
      border-radius: 20px;
      border: 1px solid rgba($color-black, 0.3);
      cursor: pointer;
      @extend .transition-general;

      &.active, &:hover {
        border: 1px solid $color-black;
      }
      &.hide {
        display: none;
      }
    }
  }

  .page-control {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  &.num-mode {
    .page-content {
      align-items: center;
    }
    .page-nums {
      display: inline-flex;
      gap: 10px;
    }
  }
}
