VITE_BACKEND_API_BASE_URL=https://localhost:44311
VITE_FRONTEND_BASE=http://localhost:3000
VITE_FRONTEND_SYNC_URL=http://localhost:3000/api/dynamic-pages
VITE_FRONTEND_ASSET_LIST_URL=http://localhost:3000/api/dynamic-assets
VITE_FRONTEND_ASSET_UPLOAD_URL=http://localhost:3000/api/dynamic-assets
VITE_FRONTEND_DYNAMIC_API_TOKEN=
