$bg-init: no-repeat center/contain;

.ic-logo {
  &[name="index"],
  &[name="ifare"],
  &[name="indexIFare"] {
    background: url("../img/logo.svg") $bg-init;
  }

  &[name="other"] {
    background: url("../img/logo-color.svg") $bg-init;
  }
}

.ic-logo-title {
  &[name="index"],
  &[name="ifare"],
  &[name="indexIFare"] {
    background: url("../img/logo-title.svg") $bg-init;
    margin-left: 8px;
  }
  &[name="other"] {
    background: url("../img/logo-title-color.svg") $bg-init;
  }
}

.ic-facebook-before::before {
  background: url("../img/Facebook-Logo.svg") $bg-init;
}
.ic-line {
  background: url("../img/Line-Logo.svg") $bg-init;
}

.ic-footer-logo {
  background: url("../img/Footer-Logo.svg") $bg-init;
}

.ic-arrow-right {
  background: url("../img/Arrow-right.svg") $bg-init;
}
.ic-arrow-right-long {
  background: url("../img/Arrow-right-long.svg") $bg-init;
}
.ic-arrow-right-long-orange {
  background: url("../img/Arrow-right-long-orange.svg") $bg-init;
}
.ic-arrow-right-orange {
  background: url("../img/Arrow-right-orange.svg") $bg-init;
}
.ic-arrow-right-primary-dark {
  background: url("../img/Arrow-right-primary-dark.svg") $bg-init;
}
.ic-arrow-simple {
  background: url("../img/Arrow-Simple.svg") $bg-init;
}
.ic-arrow-simple-white {
  background: url("../img/Arrow-Simple-white.svg") $bg-init;
}
.ic-arrow-simple-up {
  background: url("../img/Arrow-simple-up.svg") $bg-init;
}

.ic-share {
  background: url("../img/Share.svg") $bg-init;
}

.ic-title-pattern {
  background: url("../img/Title-Pattern.png") $bg-init;
}

.ic-search {
  background: url("../img/Search.svg") $bg-init;
}
.ic-search-gray {
  background: url("../img/Search-gray.svg") $bg-init;
}

.ic-box {
  background: url("../img/Box.svg") $bg-init;
}

.ic-img-about-1 {
  background: url("../img/About-Img-1.png") $bg-init;
}
.ic-img-about-2 {
  background: url("../img/About-Img-2.png") $bg-init;
}
.ic-img-about-3 {
  background: url("../img/About-Img-3.png") $bg-init;
}

.ic-about-how-1 {
  background: url("../img/About-how-1.svg") $bg-init;
}
.ic-about-how-2 {
  background: url("../img/About-how-2.svg") $bg-init;
}
.ic-about-how-3 {
  background: url("../img/About-how-3.svg") $bg-init;
}

.ic-about-member-1 {
  background: url("../img/About-Member-1.png") $bg-init;
}
.ic-about-member-2 {
  background: url("../img/About-Member-2.png") $bg-init;
}

.ic-open {
  background: url("../img/Open.svg") $bg-init;
}

.ic-plus {
  background: url("../img/Plus.svg") $bg-init;
}
.ic-plus-primary-dark {
  background: url("../img/Plus-primary-dark.svg") $bg-init;
}

.ic-dash-primary-dark {
  background: url("../img/Dash-primary-dark.svg") $bg-init;
}

.ic-faq {
  background: url("../img/FAQ.svg") $bg-init;
}
.ic-faq-primary-dark {
  background: url("../img/FAQ-primary-dark.svg") $bg-init;
}

.ic-ifare-logo {
  background: url("../img/i-Fare.svg") $bg-init;
}

.ic-i-mini-logo {
  background: url("../img/i-logo-mini.svg") $bg-init;
}

.ic-ifare-bg {
  background: url("../img/IFare-Img-1.png") $bg-init;
}

.ic-options {
  background: url("../img/Options.svg") $bg-init;
}

.ic-tel {
  background: url("../img/Tel.svg") $bg-init;
}

.ic-location {
  background: url("../img/Location.svg") $bg-init;
}

.ic-index-img-0 {
  background: url("../img/Index-Img-0.png") $bg-init;
}
.ic-index-img-1 {
  background: url("../img/Index-Img-1.png") $bg-init;
}
.ic-index-img-2 {
  background: url("../img/Index-Img-2.png") $bg-init;
}
.ic-index-img-3 {
  background: url("../img/Index-Img-3.png") $bg-init;
}
.ic-index-img-4 {
  background: url("../img/Index-Img-4.png") $bg-init;
}

.ic-select-arrow {
  background: url("../img/Select-arrow.svg") $bg-init;
}

.ic-menu {
  background: url("../img/Menu.svg") $bg-init;
}
.ic-menu-white {
  background: url("../img/Menu-white.svg") $bg-init;
}
.ic-mobile-share-line {
    background: url("../img/Mobile-Line.svg") $bg-init;
}
.ic-mobile-share-facebook {
    background: url("../img/Mobile-Facebook.svg") $bg-init;
}
.ic-mobile-menu-logo{
    background: url("../img/Mobile-Menu-Logo.svg") $bg-init;
}

.ic-close{
    background: url("../img/Close.svg") $bg-init;
}

.ic-index-border-img {
  background: url("../img/Index-border-display.png") $bg-init;
}

.ic-phone{
  background: url("../img/Phone.svg") $bg-init;
}